@import "tailwindcss";
@layer utilities {
  .bg-softwhite {
    background-color: #FCFAF7;
  }

  .bg-blushcream {
    background-color: #F8EDEB;
  }

  .bg-peonypink {
    background-color: #EABFCB;
  }

  .hover\:bg-blossompink:hover {
    background-color: #DE9BAC;
  }

  .text-deepcocoa {
    color: #4E342E;
  }

  .text-mutedmauve {
    color: #A38D94;
  }

  .text-blossompink {
    color: #DE9BAC;
  }
}

.border-peonypink {
  border-color: #EABFCB;
}

.hover\:text-softwhite:hover {
  color: #FCFAF7;
}
